# Database

DATABASE_URL=

# OpenAI

OPENAI_API_KEY=

# RingCentral

RINGCENTRAL_CLIENT_ID=
RINGCENTRAL_CLIENT_SECRET=
RINGCENTRAL_SERVER_URL=
RINGCENTRAL_JWT_TOKEN=

# Admin User Creation

ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_ROLE=admin

# SMS Testing

TEST_SMS_TO_NUMBER=

# Application Settings

ENVIRONMENT=development
DEBUG=True
